<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hangman!</title>
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row main">
            <section id="text">
                <p><span class="func">const</span> hangman <span class="exprs">=</span> {</p>
                <p class="indent">wins: <span id="wins" class="num">0</span>,</p>
                <p class="indent">losses: <span id="losses" class="num">0</span>,</p>
                <p class="indent">status: <span id="info" class="string"></span>,</p>
                <p class="indent">remaining: <span id="chances" class="num"></span>,</p>         
                <p class="indent">play again: <span id="undef" class="num">undefined</span><span id="replay">() <span class="func">=></span> {<span class="func">clickMeToPlayAgain</span>();}</span></p>
                <P>};</P>
            </section>
            <aside id="hang">
                <svg height="200" width="200">
                    <g id="body">
                        <g id="head">
                            <circle cx="100" cy="40" r="10" stroke="white" stroke-width="2" fill="black"/>
                            <g id="rEyes">
                                <circle cx="96" cy="40" r="2" fill="white"/>
                                <circle cx="104" cy="40" r="2" fill="white"/>
                            </g>
                            <g id="xEyes" class="hide">
                                <line x1="95" y1="39" x2="98" y2="42"/>
                                <line x1="102" y1="39" x2="105" y2="42"/>
                                <line x1="95" y1="42" x2="98" y2="39"/>
                                <line x1="102" y1="42" x2="105" y2="39"/>
                            </g>
                        </g>
                        <line id="torso" x1="100" y1="50" x2="100" y2="75" />
                        <line id="armL" x1="100" y1="60" x2="85" y2="70" />
                        <line id="armR" x1="100" y1="60" x2="115" y2="70" />
                        <line id="legL" x1="100" y1="75" x2="90" y2="95" />
                        <line id="legR" x1="100" y1="75" x2="110" y2="95" />
                    </g>
                        <line x1="5" y1="125" x2="75" y2="125" />
                        <line id="door1" x1="75" y1="125" x2="100" y2="125" />
                        <line id="door2" x1="100" y1="125" x2="125" y2="125" />
                        <line x1="125" y1="125" x2="195" y2="125" />
                        <line x1="50" y1="125" x2="50" y2="10" />
                        <line x1="50" y1="10" x2="100" y2="10" />
                        <line id="rope" x1="100" y1="10" x2="100" y2="30" />
                </svg>
            </aside>
        </div>
        <section class="row">
            <ul id="guesses" class="row"></ul>
        </section>
        <section class="row">
            <ul id="alphabet1" class="alphabet row"></ul>
            <ul id="alphabet2" class="alphabet row"></ul>
            <ul id="alphabet3" class="alphabet row"></ul>
        </section>
    </div>
    <script src="game.js"></script>
</body>
</html>